/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: white;
}

h1 {
  font-size: 60px; }

h2 {
  font-size: 20px;
  font-weight: 300;
  color: #3D4351;
  font-family: sans-serif;
  padding: 10px;
  }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }
  
  
.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase; }

.btn:hover, .btn:focus {
  color: #fff;
  border-color: #FF5274;
  background-color: #FF5274; }

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #FF5274; }

.btn-white:hover, .btn-white:focus {
  color: #FF5274;
  border-color: #FF5274; }

.btn-fill {
  color: #fff;
  border: solid 2px #FF5274;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #FF5274; }

.btn-fill:hover, .btn-fill:focus {
  color: #fff;
  background-color: #D7405D;
  border-color: #D7405D; }

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

.container {
    margin: 0;
    padding: 0;
    background-color: white;
}

#head_wrap{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 2px light-grey;
    padding: 10px;
    background: #000000;
}

#header {
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
    height: 60px;
    color: white;
    font-family: sans-serif;
}

#menu {
    line-height: 35px;
    padding: 0;
    margin: 0;
    float: left;
}

#menu li {
    display: inline;
    list-style: none;
}

#menu a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: darkred;
    font-size: 15px;
}

#form1 {
    float: right;
    line-height: 35px;
    padding-top: 3px;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

#user_timeline {
    width: 250px;
    float: left;
    height: 600px;
    border-right: solid black 2px;
    font-family: sans-serif
}

#user_details {
    padding: 10px;
}

#user_details img {
    border: 2px solid black;
    border-radius: 200px;
}

#user_details p {
    margin-bottom: 10px;
    padding: 5px;
    margin: 0 auto;
}

#recommend {
  width: 250px;
  float: left;
  height: 400px;
  border-right: solid black 2px;
}

#content_timeline {
    float: right;
    width: 700px;
}


#f input {
    padding: 10px;
    border: solid black 2px;    
    border-radius: 20px;
}

#f input:button {
    padding: 10px;
    border: crimson 2px;    
    border-radius: 20px;
}

#f textarea {
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
}

#posts {
    width: 500px;
    line-height: 20px;
    border: solid black 1px;
    border-radius: 20px;
    font-family: sans-serif;
}

#reply textarea {
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
}

#reply input {
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
}

#comments {
    background: #1e90ff;
    padding: 5px;
    width: 500px;
    border-bottom: solid orangered;
}

#comments span {
    color: orangered;
}

#comments h3 {
    color: darkred;
}

#comments p {
    line-height: 20px;
    font-size: 16px;
    padding: 5px;
}

#menu strong {
    font-size: 20px;
    text-decoration: underline;
}
