/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    height: 1000px;
    background-color: white;
}

.container {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* ==========================================================================
Typography
========================================================================== */

h1 {
  font-size: 60px; }

h2 {
    font:
  font-size: 30px;
  font-weight: 300;
  color: #3D4351;
  }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase; }

.btn:hover, .btn:focus {
  color: #fff;
  border-color: #FF5274;
  background-color: #FF5274; }

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #FF5274;}

.btn-white:hover, .btn-white:focus {
  color: #FF5274;
  border-color: #FF5274; }

.btn-fill {
  color: #fff;
  border: solid 2px #FF5274;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #FF5274; }

.btn-fill:hover, .btn-fill:focus {
  color: #fff;
  background-color: #D7405D;
  border-color: #D7405D; }

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }
  
select {
  height: 20px;
  margin: 0;
  padding: 10px;
  width:250px;
  color: black;
}

#head_wrap{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 2px light-grey;
    padding: 10px;
    background: #000000;
}

#header {
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
    height: 60px;
    color: white;
    font-family: sans-serif;
    text-decoration:none;
}


#ucl_logo {
    float: left;;
    height: 30px;
    width:100px;
    
}

#form1 {
    float: right;
    line-height: 30px;
    font-family: sans-serif;
}

input[type="text"], input[type="password"], {
  background-color: #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-family: sans-serif;
  margin-bottom: 1em;
  height:20px;
  padding:10px;
  border:1px solid black;
}

#content {
    width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
}

#form2 {
    margin: 0 auto;
    margin-top: 100px;
    width:250px;
}

#form2 select {
    width:150px;    
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#form2 h2 {
    padding: 5px;
    margin-left: 70px;
}

#form2 button {
    width: 150px;
}

#footer {
    width: 100%;
    height: 40px;
    padding: 10px;
    background: black;
    border: 5px light-grey;
    clear: both;
    color: white;
    font-family: sans-serif;
}

#menu {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

#menu li {
    display: inline;
    list-style: none;
}

#menu a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}

#menu a:hover {
    font-size: 20px;
}

#menu strong {
    font-size: 20px;
    text-decoration: underline;
    
}